log/*
log/csv/*
csv/*
generated/*
synth_graphs/*
synth_graphs_weighted/*
synth_graphs_weighted_graphit/*
synth_graphs_violin/*
synth_graphs_unweighted/*
*.wel
p2GraphEasy/final_program
p2GraphEasy/GraphProgram 
p1GraphEasy/final_program
p1GraphEasy/GraphProgram 
p1GraphEasy/01_run.sh
p1GraphEasy/02_run.sh
p1GraphEasy/03_run.sh
p2GraphEasy/final_run.sh
p1GraphEasy/*.o*
p2GraphEasy/*.o*
vgcore.*